# This is your Caddy configuration. This default config
# opens a port and serves a static site from the www folder.
# Edit this file according to your needs.

# Remember, Railway terminates TLS before it gets to Caddy.

:8080 {
    root /www
    file_server

    @api_dc {
        host api.aperoescape.ch
        path /dc/*
    }

    @collector {
        host dc.aperoescape.ch
    }

    reverse_proxy @api_dc cantons-challenge-api.railway.internal:8000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Port 443
    }
    reverse_proxy @collector cantons-challenge-collector.railway.internal:8000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Port 443
    }    
    rate_limit {
        zone votes {
            match {
                host api.aperoescape.ch
                path /dc/v1/vote
            }
            key {remote_host}
            events 100
            window 1m
        }
        jitter 0.1
    }
}

